.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.error-block{
  font-size: x-small;
  color: red;
}